* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: coral;
}

.nav__content {
    background: darkred;
    height: 5em;
}

img {
    width: 2em;
}

.nav__list {
    text-align: right;
    display: flex;
    justify-content: right;
    list-style: none;
    margin: auto;
}

.nav__list-li a {
    text-decoration: none;
    display: flex;
    color: #000;
    font-size: 1.5em;
    flex-wrap: wrap;
    padding-left: 4em;
    padding-right: .5em;
    padding-top: 1em;
    margin: auto;
}

.nav__list-li a:hover {
    text-decoration: underline;
}

.content__img {
    position: absolute;
    margin-top: 1.2em;
    margin-left: 1.2em;
}

.content__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20em;
}

.products__heading {
    text-align: center;
    margin-top: 5em;
    margin-bottom: -8em;
    font-size: 2em;
}

.product img {
    display: flex;
    min-width: 30em;
    max-width: 50em;
    min-height: 30em;
    max-height: 50em;
    object-fit: scale-down;
    flex-wrap: wrap;
}

.product img:hover {
    opacity: .4;
}